apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapi-deployment
  namespace: webapi
  annotations:
    redeploy-timestamp: "2026-02-15-17-45"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapi
  template:
    metadata:
      labels:
        app: webapi
    spec:
      serviceAccountName: webapi-sa   # ⭐ REQUIRED for workload identity
      containers:
        - name: webapi
          image: srinivasacr.azurecr.io/webapi:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"

            # ⭐ Application Insights
            - name: APPLICATIONINSIGHTS_CONNECTION_STRING
              value: "InstrumentationKey=0155f79d-0a38-4309-b47e-a66adcb5e194;IngestionEndpoint=https://centralus-2.in.applicationinsights.azure.com/;LiveEndpoint=https://centralus.livediagnostics.monitor.azure.com/;ApplicationId=a6d3689b-c822-490c-bf25-73fbe175d8f2"

            # ⭐ Key Vault URL for DefaultAzureCredential
            - name: KEYVAULT_URL
              value: "https://srinivas-kv-01.vault.azure.net/"

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      restartPolicy: Always